### Python language basics

In [1]:
print('Hello World')

Hello World

In [7]:
# To determine if the input(x) is odd or even
def find_even_odd(x):
    if x%2==0:
        """
        Is inout dividing by 2 is 0, input is even.
        else odd
        """
        print('Even')
    else:
        print('Odd')

In [8]:
 find_even_odd(14)

Even

### Variables and Passing Arguments

In [10]:
a =[1,2,3]
a

[1, 2, 3]

In [11]:
b = a
b

[1, 2, 3]

In [12]:
a.append(10)
print(a)
print(b)

[1, 2, 3, 10]
[1, 2, 3, 10]

In [17]:
c = a.copy()
a.append(50)
print(a)
print(c)

[1, 2, 3, 10, 50, 50, 50]
[1, 2, 3, 10, 50, 50]

In [18]:
int1 = 5
type(int1)

int

In [19]:
str1 = 'test'
type(str1)

str

In [20]:
isinstance(int1,int)

True

In [22]:
int1 = int1 + 1
int1

6

In [23]:
#Better approach
int1 += 1
int1

7

In [24]:
int2 = 10
int1 == int2

False

In [25]:
int1 != int2 # < > !< !>

True

In [26]:
str1 = '20'
str2 = '23'

str1+str2

'2023'

In [27]:
num1 = int(str1)
num2 = int(str2)

num1 + num2

43

### Strings

In [28]:
greeting = 'Welcome'
greeting

'Welcome'

In [30]:
greeting = "Welcome to today's class"
greeting

"Welcome to today's class"

In [31]:
greeting ='Welcome to today's class'

SyntaxError: unterminated string literal (detected at line 1) (2827228438.py, line 1)

In [33]:
new_greeting = greeting.replace('class','lecture')
print(greeting)
print(new_greeting)

Welcome to today's class
Welcome to today's lecture

### More string functions
* lower
* upper
* count
* find

In [3]:
course_name = "Data Analytics"

In [4]:
course_name.upper()

'DATA ANALYTICS'

In [5]:
course_name.lower()

'data analytics'

In [6]:
course_name.count('a')

3

In [8]:
course_name.find('Analytics')

5

In [9]:
course_name.count('z')

0

In [10]:
course_name.find('Analytics')

5

In [11]:
course_name.find('Science')

-1

### String Formatting- using f strings

In [14]:
course ='programming'
enrollment = 12
# There are 12 students in programming class
class_details = f'There are {enrollment} students in {course} class.'
print (class_details)

There are 12 students in programming class.

#### f string can also help with perform calculations

In [19]:
score = 534

ave_score = f'The average score for the {course} class is {score/enrollment}'
print(ave_score)

The average score for the programming class is 44.5

In [20]:
f'5 times 12 is {5*12}'

'5 times 12 is 60'

#### We can also perform sting manipulations using f strings

In [23]:
first_name = 'Jane'
last_name = 'Doe'

emp_name = f'Name of the employee is {first_name} {last_name}'
print(emp_name)

Name of the employee is Jane Doe

In [24]:
emp_name = f'Name of the employee is {first_name.lower()} {last_name.upper()}'
print(emp_name)

Name of the employee is jane DOE

#### f strings support number formatting

In [26]:
num_emp = 5
f'Number of employees are {num_emp}'

'Number of employees are 5'

In [27]:
f'Number of employees are {num_emp:02}'

'Number of employees are 05'

In [28]:
f'Number of employees are {num_emp:04}'

'Number of employees are 0005'

In [29]:
float_num = 23.909172
f'Given float is {float_num:.2f}'

'Given float is 23.91'

In [30]:
f'Given float is {float_num:.4f}'

'Given float is 23.9092'

### Conditional and Booleans
* #### Bollean operators - True and False

* #### Logical operaters - 'and' 'or'

In [32]:
True and True

True

In [33]:
True and False

False

In [34]:
True or False

True

In [35]:
int(True)

1

In [36]:
int(False)

0

#### Can also perform arithmetic operations using booleans

In [38]:
True - True

0

In [39]:
True * False

0

In [40]:
True * True

1

#### Understanding how conditianls work with booleans

In [41]:
if True:
    print ('Condition is True')

Condition is True

In [42]:
if False:
    print ('Condition is True')

In [47]:
dept = 'cist'
if dept == 'cist':
    print('Department is cist')

Department is cist

In [48]:
dept = 'mechenical'
if dept == 'cist':
    print('Department is cist')
elif dept == 'ME':
    print('Department is mechenical')
else:
    print('Department not found')

Department not found

In [49]:
# Python doesn't have a swith case functionality similar to other Languages
dept = 'Physics'
if dept == 'cist':
    print('Department is cist')
elif dept == 'ME':
    print('Department is mechenical')
elif dept == 'Physics':
    print('Department is Physics')
else:
    print('Department not found')

Department is Physics

In [50]:
user = 'Admin'
logged_in = True

if user == 'Admin' and logged_in:
    print('Welcome Admin')
else:
    print('Auth failed')

Welcome Admin

#### 'not' --> reverse

In [52]:
user = 'Admin'
logged_in = True

if user == 'Admin' and not logged_in:
    print('Welcome Admin')
else:
    print('Auth failed')

Auth failed

### Object Identity
* = --> assignment operator
* == --> checks for equality
* 'is' --> checjs if the variables are pointing to the same ibject in memory if they have same object id

In [54]:
a = [1,2,3]
b = [1,2,3]

a == b

True

In [55]:
a is b

False

In [56]:
b = a 
print(id(a))
print(id(b))

print(a is b)
print(a == b)

1836867519552
1836867519552
True
True

#### What does python evaluate to True or False

In [58]:
condition = None

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is False

In [59]:
condition = 0

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is False

In [60]:
# any value other than 0 is True
condition = 10

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is True

In [61]:
condition = []

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is False

In [63]:
# any empty is False
condition = ''

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is False

### BUILT-IN DATA STRUCTURES
* Lists
* Tuples
* Sets
* Dictionaries

### Lists
* Mutable
    * Contents cna be modified
    * Variable length

In [66]:
employees = ['John','Amy','Mike','Ron','Katie','Alice','Hannah','Jordan','Andy','Sam']
employees

['John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hannah',
 'Jordan',
 'Andy',
 'Sam']

In [67]:
help(employees.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [68]:
employees.count('John')

1

In [69]:
dir(employees)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [70]:
# get the number of employees
len(employees)

10

In [71]:
# we can access list elements by passing index value
employees[0]

'John'

In [72]:
employees[4]

'Katie'

In [73]:
employees[-1]

'Sam'

### Slicing
* to access/extract certain elements of a list or a string

In [74]:
# range of values
employees[0:2] #0, 1; ending index is not included

['John', 'Amy']

In [75]:
employees[2:]

['Mike', 'Ron', 'Katie', 'Alice', 'Hannah', 'Jordan', 'Andy', 'Sam']

In [76]:
employees[:2]

['John', 'Amy']

In [77]:
employees[:]

['John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hannah',
 'Jordan',
 'Andy',
 'Sam']

In [78]:
employees[-4:-2]

['Hannah', 'Jordan']

In [79]:
#L[Start:stop:step]
employees[2:9:2]

['Mike', 'Katie', 'Hannah', 'Andy']

In [80]:
employees[-1:2:-1]

['Sam', 'Andy', 'Jordan', 'Hannah', 'Alice', 'Katie', 'Ron']

#### Slicing strings

In [82]:
course_name = 'Data Analytics'
len(course_name)

14

In [83]:
course_name[0:4]

'Data'

In [88]:
course_name[5:]

'Analytics'

In [89]:
url_ex ='https://www.pitt.edu'

###1. .edu,2. www.pitt.edu

In [90]:
len(url_ex)

20

In [91]:
url_ex[16:]

'.edu'

In [92]:
url_ex[8:]

'www.pitt.edu'

In [93]:
url_ex[url_ex.find('w'):]

'www.pitt.edu'