### Looping

#### For Loops
* Iterate over a sequence for a certain number of times

In [1]:
nums = [2,5,7,9]

for num in nums:
    print(num)

2
5
7
9

In [2]:
nums = [2,5,7,9]

for num in nums:
    if num == 7:
        print(num)

7

In [6]:
nums = [2,5,7,9]

for num in nums:
    if num == 7:
        print(f'Found the number {num}')

Found the number 7

In [5]:
nums = [2,5,7,9]

for num in nums:
    if num == 7:
        print(f'Found the number {num}')
        break
    print(num)

2
5
Found the number 7

#### continue - to ignore a value and continue with next execution

In [8]:
nums = [2,5,7,9]

for num in nums:
    if num == 7:
        print(f'Found the number {num}')
        continue
    print(num)

2
5
Found the number 7
9

### Looping through Strings

In [11]:
str = 'Hello'

# Same to lists, we can access each character of a string
for char in str:
    print(char)

H
e
l
l
o

In [12]:
## Can also perform operations while iterating

for char in str:
    print(char.upper())

H
E
L
L
O

In [14]:
### Nested Loop
nums = [1,2,3]
str1 = 'abc'

for num in nums: 
    for char in str1:
        print(num,char)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

#### range() - to execute a loop a fixed number of times

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
num_list = [1,2,3,4]

for i in range(len(num_list)):
    print(i)

0
1
2
3

### While Loops
* Exected untill a certain condition is met or until we encounter a break statement

In [21]:
x = 0

while x < 10:
    print(x)
    x = x+1

0
1
2
3
4
5
6
7
8
9

In [27]:
## at any point we can break the loop by including a condition and break key word
x = 0
while x < 10:
    print(x)
    if x == 5:
        break
    x += 1

0
1
2
3
4
5

### enumerate - access both the index and value of the element simulaneously

In [28]:
emp_list = ['john', 'Amy', 'Ryan']

for idx, name in enumerate(emp_list):
    print(idx, name)

0 john
1 Amy
2 Ryan

## COMPEHENSIONS
* Easier and more readble way to create sequences (list, sets, dictionarie)

In [31]:
# Let's say we want to crate the below list
nums_list = [1,2,3,4,5,6,7,8,9,10]

# Approach 1: create an empty list and then append each value using for Loop

new_list = []
for num in nums_list:
    new_list.append(num)
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
# Appriach 2 - sung list comperhensions

new_list = [num for num in nums_list]
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
new_list = []

for num in nums_list:
    new_list.append(num*num)
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
new_list =[num*num for num in nums_list]
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
new_list = []

for num in nums_list:
    if num % 2 == 0:
        new_list.append(num)
new_list

[2, 4, 6, 8, 10]

In [45]:
new_list = [num for num in nums_list if num % 2 == 0]
new_list

[2, 4, 6, 8, 10]

In [51]:
pairs_list = []
for num in '1234':
    for char in 'abcd':
        pairs_list.append((num,char))
    
pairs_list

[('1', 'a'),
 ('1', 'b'),
 ('1', 'c'),
 ('1', 'd'),
 ('2', 'a'),
 ('2', 'b'),
 ('2', 'c'),
 ('2', 'd'),
 ('3', 'a'),
 ('3', 'b'),
 ('3', 'c'),
 ('3', 'd'),
 ('4', 'a'),
 ('4', 'b'),
 ('4', 'c'),
 ('4', 'd')]

In [53]:
pairs_list = [(num, char) for num in '1234' for char in 'abcd']
pairs_list

[('1', 'a'),
 ('1', 'b'),
 ('1', 'c'),
 ('1', 'd'),
 ('2', 'a'),
 ('2', 'b'),
 ('2', 'c'),
 ('2', 'd'),
 ('3', 'a'),
 ('3', 'b'),
 ('3', 'c'),
 ('3', 'd'),
 ('4', 'a'),
 ('4', 'b'),
 ('4', 'c'),
 ('4', 'd')]

### Dictionary Comprehensions

In [57]:
countries = ['USA', 'France', 'Spain', 'Germany', 'Japan']

capital_cities = ['Washington D.C', 'Paris', 'Madrid', 'Berlin', 'Tokyo']

country_dict = {}

for cntry, cap in zip(countries, capital_cities):
    country_dict[cntry] = cap

country_dict

{'USA': 'Washington D.C',
 'France': 'Paris',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'Japan': 'Tokyo'}

In [59]:
country_dict = {cntry:cap for cntry, cap in zip(countries, capital_cities)}

country_dict

{'USA': 'Washington D.C',
 'France': 'Paris',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'Japan': 'Tokyo'}

In [60]:
country_dict = {cntry:cap for cntry, cap in zip(countries, capital_cities) if cntry != 'Spain'}

country_dict

{'USA': 'Washington D.C',
 'France': 'Paris',
 'Germany': 'Berlin',
 'Japan': 'Tokyo'}

In [62]:
nums_list = [1,1,2,6,3,8,5,2,3,3,0]
print(nums_list)
nums_set = {num for num in nums_list}
print (nums_set)

[1, 1, 2, 6, 3, 8, 5, 2, 3, 3, 0]
{0, 1, 2, 3, 5, 6, 8}