In [2]:
import pandas as pd

In [24]:
so_surv_df = pd.read_csv('Nato/nato.csv')
so_surv_df

##df - dataframe

,organisation,year,vendor_country,vendor_name,amount,description,country_code,Type,Period
0,NATO,2008,Belgium,INFRAVISION BVBA,"$1,259,084.40",SOFTWARE LICENCES AND PRODUCT MAINTENANCE,BEL,Orders Awarded,Q3Q4
1,NATO,2008,Belgium,THALES BELGIUM SA,"$1,830,885.00",SUPPLIES FOR AWACS,BEL,Orders Awarded,Q3Q4
2,NATO,2008,Belgium,THALES BELGIUM SA,"$169,478,488.83",48 PROTECTED VEHICLE PLATFORMS (DINGO II) INTE...,BEL,Orders Awarded,Q1Q2
3,NATO,2008,Belgium,THALES BELGIUM SA,"$169,478,488.83","48 PROTECTED VEHICLE PLATFORMS (DINGO II), INT...",BEL,Orders Awarded,Q1Q2
4,NATO,2008,Bulgaria,VMZ CO,"$2,180,010.00",SUPPLY OF AMMUNITION - 40 MM ROUNDS,BGR,Orders Awarded,Q1Q2
...,...,...,...,...,...,...,...,...,...
7197,NATO,2019,United States,TRIMBLE MILITARY AND ADVANCED,"$159,228.16",PROVISION OF TRIMBLE FORCE 27 GPS RECEIVER,USA,Orders Awarded,Q3Q4
7198,NATO,2019,United States,US DYNAMICS CORPORATION,"$417,924.64",SPARE PARTS FOR THE SUPPORT OF ANFPS 117 RADAR...,USA,Orders Awarded,Q1Q2
7199,NATO,2019,United States,VAREC INC,"$13,888,000.00",PROVISION NATO FUEL MONITORING SERV- AUG-DEC -...,USA,Outline Agreement,Q3Q4
7200,NATO,2019,United States,WESCO MANUFACTURING INC,"$1,813,426.72",INSPECTION REPAIR AND OVERHAUL OF VARIOUS C-1...,USA,Outline Agreement,Q1Q2
7201,NATO,2019,United States,WESCO MANUFACTURING INC,"$1,876,463.68",INSPECTION REPAIR AND OVERHAUL OF VARIOUS C-1...,USA,Outline Agreement,Q1Q2

In [25]:
so_surv_df.shape

(7202, 9)

In [26]:
so_surv_df.columns

Index(['organisation', 'year', 'vendor_country', 'vendor_name', 'amount',
       'description', 'country_code', 'Type', 'Period'],
      dtype='object')

In [27]:
so_surv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7202 entries, 0 to 7201
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   organisation    7202 non-null   object
 1   year            7202 non-null   int64
 2   vendor_country  7202 non-null   object
 3   vendor_name     7202 non-null   object
 4   amount          7202 non-null   object
 5   description     7202 non-null   object
 6   country_code    7202 non-null   object
 7   Type            7202 non-null   object
 8   Period          7202 non-null   object
dtypes: int64(1), object(8)
memory usage: 506.5+ KB

In [28]:
so_surv_df['organisation']

0       NATO
1       NATO
2       NATO
3       NATO
4       NATO
        ...
7197    NATO
7198    NATO
7199    NATO
7200    NATO
7201    NATO
Name: organisation, Length: 7202, dtype: object

In [29]:
so_surv_df['year'].value_counts()

2011    1137
2012     799
2015     770
2014     690
2009     610
2018     574
2016     572
2013     571
2010     482
2019     425
2017     359
2008     213
Name: year, dtype: int64

In [30]:
so_surv_df['vendor_name'].value_counts()

HELIAVIAS HAVA DIS TICARET             246
KRAUSS-MAFFEI WEGMANN GMBH & CO KG     102
EXPAL SYSTEMS SA                        79
INTEGRATED PROCUREMENT TECHNOLOGIES     79
BELL HELICOPTER SUPPLY CENTER BV        66
                                      ...
GEO.GA. COSTRUZIONI SRL                  1
EUROVINIL SPA                            1
AEDES AURORA SRL                         1
MEPROLIGHT                               1
TRIMBLE MILITARY AND ADVANCED            1
Name: vendor_name, Length: 2209, dtype: int64

In [31]:
so_surv_df['amount'].value_counts()

$0.00            199
$399,000.00       14
$1,330,000.00     12
$1,102,500.00     12
$1,110,000.00     11
                ...
$571,833.60        1
$151,799.04        1
$130,278.40        1
$115,569.92        1
$1,876,463.68      1
Name: amount, Length: 6397, dtype: int64

In [32]:
so_surv_df['description'].value_counts()

HELICOPTER SUPPLIES                                    136
SUPPLY OF AMMUNITION                                   135
AMMUNITION SUPPLIES                                    118
RANDOM BROKERAGE SUPPLIES                              101
PROVISION OF AMMUNITION                                 87
                                                      ...
SUPPLY OF CENTRIFUGAL PUMPS                              1
SUPPLY OF TIRES FOR CN-235 AIRCRAFT                      1
SUBASSY                                                  1
REPAIR OF VIKING  GONIOMETER                             1
PROVISION NATO FUEL MONITORING SERV- AUG-DEC - 2019      1
Name: description, Length: 4431, dtype: int64

In [20]:
so_surv_df['country_code'].value_counts()

USA    1329
DEU    1115
FRA     929
GBR     669
TUR     590
ITA     517
ESP     441
BEL     256
NLD     192
LUX     174
NOR     159
GRC     118
CAN      96
CZE      73
FIN      65
SWE      63
HUN      52
DNK      46
PRT      43
POL      40
AUT      32
ROU      24
ISR      22
CHE      19
BGR      17
LVA      17
LTU      14
AFG      12
UKR      10
ARE      10
EST       9
SVK       8
ALB       6
JOR       6
HRV       3
AZE       3
MRT       3
SVN       2
KSV       2
GEO       2
IRL       2
RUS       2
UZB       2
MKD       2
MCO       1
ZAF       1
SRB       1
AUS       1
MNE       1
ISL       1
Name: country_code, dtype: int64

In [21]:
so_surv_df['Type'].value_counts()

Orders Awarded       5714
Outline Agreement    1488
Name: Type, dtype: int64

In [22]:
so_surv_df['Period'].value_counts()

Q3Q4    3812
Q1Q2    3390
Name: Period, dtype: int64